#networkGraph {
    border: 1px solid #ccc;
    margin: auto;
  }
  
  .node circle {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node text {
    font-family: Arial, sans-serif;
    fill: #333;
  }
  
  line {
    stroke: #999;
  }
  