<div class="navbar" >
  <div class="app-name" style="cursor: pointer;"  >Mininet SDN Manager</div>
  
</div>
<div class="space">
  
</div>
<div class="container-fluid">
 

  <!-- Contenido principal: Div gráfico y botones en paralelo -->
  <div class="row">
    <!-- Div de la red -->
    <div class="col-lg-8 col-md-7">
      <h2 class="text-center mb-3">Network Architecture</h2>
      <div id="networkGraph" class="network-graph">
        <app-network-graph></app-network-graph>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6">
          <label for="networkAppSelect">Select Network App:</label>
          <select id="networkAppSelect" [(ngModel)]="selectedApp" class="form-control">
            <option *ngFor="let app of networkApps" [value]="app.value">{{ app.label }}</option>
          </select>
        </div>
        <div class="col-md-6">
          <button (click)="startApp()" class="btn btn-success">Start</button>
          <button (click)="stopApp()" class="btn btn-danger">Stop</button>
        </div>
      </div>
    </div>
  </div>  
</div>

<app-flow-rules></app-flow-rules>
<app-examples></app-examples>




